{
  "globals": {
    "WEATHER_API_KEY": true
  },
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "plugins": [
    "import",
    "vue",
    "@typescript-eslint"
  ],
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
      "ecmaFeatures": {
        "jsx": true
      },
      "useJSXTextNode": true,
      "project": "./tsconfig.json",
      "tsconfigRootDir": "../../",
      "extraFileExtensions": [
        ".vue"
      ]
    }
  },
  "extends": [
    "plugin:vue/recommended",
    "../.eslintrc"
  ],
  "settings": {
    "html/indent": "+2",
    "import/resolver": {
      "node": true,
      "eslint-import-resolver-typescript": true,
      "webpack": {
        "config": {
          "resolve": {
            "extensions": [
              ".vue",
              ".ts",
              ".js",
              ".yml"
            ]
          }
        }
      }
    }
  }
}
