{
  "linters": {
    "*.{ts,js,vue}": [
      "yarn ts:typecheck",
      "yarn js",
      "git add",
      "jest --bail --findRelatedTests && :"
    ],
    "*.{vue,scss}": [
      "yarn css",
      "git add"
    ]
  },
  "ignore": [
    "surveyEditor"
  ]
}
