# Ignore everything
**

# Allow files and directories
!/backend/**
!/frontend/**
!/yarn.lock
!babel.config.js
!.eslintrc
!tsconfig.json
!package.json

/backend/node_modules/**
/frontend/node_modules/**
