# Ignore everything
**

# Allow files and directories
!/backend/**
!/frontend/**
!/yarn.lock
!babel.config.js
!.eslintrc.js
!tsconfig.json
!package.json

**/node_modules
/frontend/node_modules/**
/frontend/.next/**
/frontend/dist/**
/backend/node_modules/**
/backend/dist/**
