# Ignore everything
**

# Allow files and directories
!/backend/**
!/frontend/**
!/rust-backend/**
!/yarn.lock
!babel.config.js
!.eslintrc.js
!tsconfig.json
!package.json

/backend/node_modules/**
/frontend/node_modules/**
**/node_modules
