{
  "plugins": [
    "import"
  ],
  "parser": "@typescript-eslint/parser",
  "extends": [
    "../.eslintrc"
  ],
  "settings": {
    "import/resolver": {
      "node": true,
      "eslint-import-resolver-typescript": true
    }
  }
}
