{
  "plugins": [
    "import",
    "graphql"
  ],
  "parser": "@typescript-eslint/parser",
  "extends": [
    "../.eslintrc"
  ],
  "settings": {
    "import/resolver": {
      "node": true,
      "eslint-import-resolver-typescript": true
    }
  },
  "overrides": [
    {
      "files": "*.graphql",
      "rules": {
        "graphql/template-strings": [
          "error",
          {
            "env": "apollo",
            "tagName": "graphql"
          }
        ]

      }
    }
  ]
}
